<!DOCTYPE html>
<html>
<head>
	<title>404 - Mario Juez</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css" />
</head>
<body>
	<div class="logo">
		<img src="img/mjuez.svg" title="Logotipo Mario Juez" alt="Mario Juez" />
	</div>
	<div class="content">
		<h1>{{__ "404title"}}</h1>
		<h2>{{__ "404subtitle"}}</h2>
	</div>
</body>
</html>